{% extends 'base.html' %}

{% block content %}

<h1>Test BMI Index Calculator</h1>


<!-- <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="submit">
</form> -->

<div class="container">
    <div class="form-row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="tab-bmi">
                <h3>BMI Calculator</h3>
                <div class="tab">
                    <button  class="tablinks" onclick="openUnit(event, 'metric')">Metric</button>
                    <button  class="tablinks" onclick="openUnit(event, 'imperial')">Imperial</button>
                </div>
                    <div class="tabcontent" id="metric">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="col-12">
                                <label for="">Weight: </label>
                                <input type="text" id="" name="weightMetric" class="form-control" required placeholder="kg">
                            </div>
                            <div class="col-12">
                                <label for="">Height: </label>
                                <input type="text" name="heightMetric" class="form-control" required placeholder="centi-meters">
                            </div>
                            <input type="submit" class="btn btn-primary" value="Calculate">
                        </form>
                    </div>
                    <div class="tabcontent" id="imperial">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="col-12">
                                <label for="">Weight: </label>
                                <input type="text" name="weightImperial" class="form-control" required placeholder="lbs">
                            </div>
                            <div class="col-12">
                                <label for="">Height: </label>
                                <div class="input-group">
                                  <input type="text" name="feet" placeholder="feet" class="form-control">
                                  <input type="text" name="inches" placeholder="inches" class="form-control">
                                </div>
                              </div>
                            <input type="submit" id="submit" name="submit" class="btn btn-primary" value="Calculate">
                        </form>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    {% if page == "index"  %}
    <div class="table-row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <table style="width:100%" border="1px solid">
                <tr>
                  <td>User</td>
                  <td>BMI</td>
                  <td>Category</td>
                  <td>Date</td>
                </tr>
                {% for data in track_list %}
                <tr>
                  <td>{{data.user}}</td>
                  <td>{{data.bmi}} kg/m²</td>
                  <td>{{data.status}}</td>
                  <td>{{data.trackDate}}</td>
                </tr>
                {% endfor %}
              </table>
        </div>
    </div>
    {% else %}
    <div>
        <div class="info">
            <table style="width:100%" border="1px solid">
                <tr>
                  <td>User</td>
                  <td>Category</td>
                  <td>BMI</td>
                </tr>
                <tr>
                  <td>{{bmi.user}}</td>
                  <td>{{bmi.status}} </td>
                  <td id="bmi" name="bmi">{{bmi.bmi}}</td>
                </tr>
            </table>              
        </div>
        <div id='myDiv'>
            <!-- Plotly chart will be drawn inside this DIV -->
        </div>
    </div>
    {% endif %}
</div>


<script>
    var bmi = document.getElementById("bmi").innerHTML;
    console.log(bmi);
    var data = [
  {
    domain: { x: [0, 1], y: [0, 1] },
    value: bmi,
    title: { text: "BMI INDICATOR" },
    type: "indicator",
    mode: "gauge+number+delta",
    // delta: { reference: 380 },
    gauge: {
      axis: { range: [null, 0.50] },
      steps: [
        { range: [0, 0.16], color: "red" },
        { range: [0.16, 0.18], color: "lightred" },
        { range: [0.16, 0.18], colors: "pink" },
        { range: [0.18, 0.25], color: "lightgreen" },
        { range: [0.25, 0.30], color: "yellow" },
        { range: [0.30, 0.35], color: "orange" },
        { range: [0.35, 0.40], color: "red" },
        { range: [0.40, 0.50], color: "darkred" }

      ],
      threshold: {
        line: { color: "red", width: 4 },
        thickness: 0.75,
        value: 0.50
      }
    }
  }
];

var layout = { width: 600, height: 450, margin: { t: 0, b: 0 } };
Plotly.newPlot('myDiv', data, layout);

</script>

{% endblock %}